/*
* @Author: Administrator
* @Date:   2017-03-30 16:46:44
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 12:06:42
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
a{
	text-decoration: none;
}
.head{
	height: 50px;
	background: #222222;
}
.head .box{
	height: 50px;
}
.head .box .left a{
	color: #9D9D9D;
	font-size: 18px;
	font-weight: 500;
	line-height: 50px;
	padding: 0 15px;
	float: left;
}
.head .box .left a:hover{
	color: #fff;
}

.head .box form{
	margin: 8px 0;
	width: 469px;
	height: 34px;
	float: right;
}
.head .box form input{
	width: 169px;
	font-size: 14px;
	box-sizing: border-box;
	padding: 10px 12px;
	color: #B29999;
	border: 0;
	border-radius: 4px;
	background: #FFFFFF;
	float: right;
	margin-left: 6px;
}

.head .box form input:first-child{
	width: 70px;
	padding: 0px;
	height: 34px;
	background: #5CB85C;
	text-align: center;
	color: #fff;
}


.head .box form input:first-child:hover{
	background: #449D44; 
	cursor: pointer;
}


.right{
	display: none;
	width: 44px;
	height: 34px;
	margin: 7px 15px 8px 0;
	background: #222;
	border: 1px solid #333333;
	float: right;
	border-radius: 6px;
}
.right div{
	width: 22px;
	height: 2px;
	background: #fff;
	margin-bottom: 4px;
	margin-left: 10px;
}
.right div:first-child{
	margin-top: 10px;
}






















.hello{
	height: auto;
	overflow: hidden;
	background: #EEEEEE;
	padding: 48px 0;
}
.hello .box{
	padding: 0 15px;
}

.hello img{
	width: 160px;

}
.hello h1{
	font-size: 63px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #333333;
	float: right;
	/* margin-right: 800px; */
}
.hello p{
	font-size: 21px;
	padding-bottom: 35px;
	color: #333333;
}

.hello a{
	width: 141px;
	height: 46px;
	font-size: 18px;
	color: #fff;
	background: #5CB85C;
	border: 1px solid #5CB85C;
	padding: 10px 16px;
	border-radius: 8px;
}

.hello a:hover{
	color: #fff;
	background: #449D44;
}


.foot .box{
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #EEEEEE;
}
.foot .box div{
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 15px;
}
.foot .box div h2{
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333333;
}

.foot .box div p{
	font-size: 14px;
	padding-bottom: 25px;
	color: #333333;
}

.foot a{
	display: block;
	width: 120px;
	height: 32px;
	font-size: 14px;
	color: #333333;
	background: #fff;
	border: 1px solid #ccc;
	padding: 6px 12px;
	border-radius: 8px;
	box-sizing: border-box;
}

.foot a:hover{
	color: #fff;
	background: #449D44;
}
#kb{
	margin-top: 20px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ccc;
}

.foot h4{
	line-height: 60px;
	font-size: 12px;
	font-weight: 400;
	padding: 0 15px;
}




















